# Build output
/build/
/dist/
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake.user

# Qt
*.pro.user
*_autogen/

# IDE / editors
.idea/
.vs/
.vscode/
*.user
*.autosave
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
.DS_Store?
._*
Desktop.ini
ehthumbs.db
